RadMag/CMakeCache.txt
RadMag/CMakeFiles/
RadMag/CPackConfig.cmake
RadMag/CPackSourceConfig.cmake
RadMag/RadMag
RadMag/RadMag.cbp
RadMag/RadMag_autogen/
RadMag/cmake_install.cmake
RadMag/CMakeLists.txt.user
build-RadMag-Desktop_Qt_5_12_0_clang_64bit4-Default
